* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: dodgerblue;
}

.h11 {
  position: absolute;
  top: 150px;
  color: black;
  background-color: yellow;
  border-radius: 5px;
  padding: 10px;
  margin-top: 100px;
}


.box {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.calculatorinput {
  width: 300px;
  height: 30px;
  margin-right: 20px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.calculatorinput:hover{
  background-color: black;
  color: yellow;
  transition: 1.2s;
}

.select1 {
  cursor: pointer;
  font-size: 20px;
  background-color: yellow;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
}

.select1:hover {
  color: yellow;
  background-color: black;
  transition: 1.2s;
  
}


.calculatorbtn {
  cursor: pointer;
  width: 100px;
  background-color: yellow;
  border: none;
  border-radius: 3px;
  font-size: 20px;
}

.calculatorbtn:hover {
  color: yellow;
  background-color: black;
  transition: 1.2s;
}